:root {
  --main-purple: #6C3483;
  --main-maroon: #834434;
  --main-green: #4B8334;
  --main-cyan: #347383;
  --main-white: #ffffff;
  --main-darkgrey: #1f1f1f;
  --main-gold: #7D6C24;
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family:'Open Sans', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 45%;
  }
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--main-purple);
  overflow-x: hidden;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  color: var(--main-white);
  padding-top: 1rem;
  padding-bottom: 4rem;
}

h2 {
  font-weight: 700;
  text-align: center;
  color: var(--main-white);
  padding-top: 5rem;
}

h3 {
  font-weight: 700;
  text-align: center;
  color: var(--main-white);
  padding-top: 5rem;
  font-size: 4rem;
}

h4 {
  text-align: center;
  color: var(--main-white);
  padding-top: 7rem;
  margin-right: 18rem;
}
.background {
  background-color: var(--main-purple);
}

.move {
  background-color: var(--main-purple);
  font-size: 1.5rem;
}

p {
  font-size: 2.8rem;
  color: var(--main-white);
}

.back
ul {
  list-style: none;
}

a {
  color: var(--main-white);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-maroon);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background-color: var(--main-purple);
}

#photo {
  border-color: var(--main-gold);
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  max-width: 10%;
  height: auto;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-purple);
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-white);
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110vh;
  text-align: center;
  padding: 10rem 9rem 10rem 9rem;
  background-color: var(--main-green);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 7rem;
    font-style: italic;
    font-weight: 150rem;
  }
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  padding-top: 10rem;
  padding-right: 20rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin-bottom: 5rem;
  margin-right: 18rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 10rem 5rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background-color: var(--main-purple);
  box-shadow: 1px 1px 2px var(--main-darkgrey);
  border-radius: 2px;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.show {
  padding-right: 12rem;
  padding-bottom: 18rem;
}

.btn-show-more {
  font-size: 2rem;
  background-color: var(--main-maroon);
  transition: background 0.3s ease-out;
  justify-content: center;
}

.btn-show-more:hover {
  background-color: var(--main-purple);
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background-color: var(--main-cyan);
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > h2 {
  font-size: 6rem;
}

.contact-section-header > p {
  font-style: italic;
}

button {
  background-color: var(--main-purple);
  border-radius: 20%;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: var(--main-purple);
  color: var(--main-white);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}
